:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #14061a;
  --primary-font-family: "Oswald", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

body {
  background-image: url(/media/coding.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--primary-color);
}

h1 {
  font-family: var(--primary-font-family);
  font-size: 100px;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--secondary-font-family);
  font-size: 30px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

nav {
  background-image: linear-gradient(to right, #1f0b28, #501c51, #a25fb1);
  border-radius: 5px;
  padding-left: 10px;
  font-family: var(--secondary-font-family);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  padding: 0 20px 0 20px;
  font-size: 20px;
  line-height: 2.5;
  color: var(--primary-color);
  font-weight: bold;
}

.homepage-head {
  background: linear-gradient(to right, #14061a, #223f62, #466183);
  border-radius: 18px;
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  margin: 0 auto;
  margin-top: 100px;
  max-width: fit-content;
  text-align: center;
  padding: 10px;
  opacity: 90%;
}

.btn-light {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-family: var(--secondary-font-family);
  font-weight: bolder;
  padding: 20px 30px;
  max-width: fit-content;
  margin-top: 30px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  border: none;
  transition: 0.3s ease-in-out;
}

.btn-light:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.homepage-photo {
  border-radius: 50%;
  max-width: 70%;
  filter: saturate(150%) opacity(90%);
}

.homepage-paragraph {
  text-align: justify;
  font-size: 20px;
  background-image: linear-gradient(to right, #1f0b28, #501c51, #a25fb1);
  border-radius: 18px;
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  padding: 15px;
  opacity: 90%;
  border: none;
}

.homepage-link-portfolio {
  color: var(--primary-color);
  font-size: 40px;
  font-family: var(--secondary-font-family);
}

.hard-skills-div,
.soft-skills-div {
  text-align: justify;
  font-size: 17px;
  background-image: linear-gradient(to right, #230d2d, #4f1b4f, #9555a3);
  border-radius: 12px;
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  opacity: 90%;
  border: none;
  max-width: fit-content;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.hard-skills-div {
  line-height: 1.9;
}

.soft-skills-div {
  line-height: 2.2;
}

.primary-paragraph {
  text-align: justify;
  font-size: 20px;
  font-family: var(--secondary-font-family);
  background-image: linear-gradient(to right, #1f0b28, #501c51, #a25fb1);
  border-radius: 12px;
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  padding: 20px;
  opacity: 90%;
  border: none;
  max-width: fit-content;
  display: block;
  margin: 0 auto;
}

.certificate {
  display: block;
  margin: auto;
}

.project-screenshot {
  opacity: 85%;
  filter: saturate(130%) contrast(110%);
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }

  h2,
  p,
  .homepage-paragraph {
    font-size: 20px;
  }

  nav li {
    font-size: 13px;
    padding: 3px;
    line-height: 3;
  }

  .homepage-head {
    line-height: 1.9;
  }

  .homepage-link-portfolio {
    font-size: 30px;
  }

  .hard-skills-div,
  .soft-skills-div {
    font-size: 15px;
    line-height: 1.2;
  }

  .about-paragraph {
    font-size: 15px;
  }
}
