body {
  background-image: url(/media/coding.jpg);
}

ul {
  list-style-position: inside;
}

.homepage-head {
  background-color: rgb(49, 12, 84);
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgb(112, 116, 217);
  color: antiquewhite;
  margin: 0 auto;
  margin-top: 130px;
  max-width: fit-content;
  padding: 15px 30px;
  text-align: center;
}

.my-name {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
}

.homepage-info {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
