:root {
  --primary-color: rgb(245, 235, 224);
  --secondary-color: #14061a;
}

body {
  background-image: url(/media/coding.jpg);
  background-size: cover;
  background-position: center center;
  color: var(--primary-color);
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}

ul {
  list-style-position: inside;
}

.homepage-head {
  background: linear-gradient(to right, #14061a, #223f62, #466183);
  border-radius: 18px;
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  margin: 0 auto;
  margin-top: 130px;
  max-width: fit-content;
  text-align: center;
}

/*-3px -3px 15px 10px var(--secondary-color);*/

.btn-light {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  max-width: fit-content;
  padding: 20px 15px;
  margin-top: 30px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  border: none;
  transition: 0.3s ease-in-out;
}

.btn-light:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
