:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #14061a;
  --primary-font-family: "Oswald", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

body {
  background-image: url(/media/coding.jpg);
  background-size: cover;
  color: var(--primary-color);
}

h1 {
  font-family: var(--primary-font-family);
  font-size: 100px;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--secondary-font-family);
  font-size: 30px;
}

a {
  text-decoration: none;
}

.homepage-head {
  background: linear-gradient(to right, #14061a, #223f62, #466183);
  border-radius: 18px;
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  margin: 0 auto;
  margin-top: 100px;
  max-width: fit-content;
  text-align: center;
  padding: 10px;
  opacity: 80%;
}

.btn-light {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-family: var(--secondary-font-family);
  font-weight: bolder;
  padding: 20px 30px;
  max-width: fit-content;
  margin-top: 30px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  border: none;
  transition: 0.3s ease-in-out;
}

.btn-light:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.homepage-photo {
  border-radius: 50%;
  max-width: 70%;
  filter: saturate(150%) opacity(90%);
}

.homepage-paragraph {
  text-align: justify;
  font-size: 25px;
  background-image: linear-gradient(to right, #1f0b28, #501c51, #a25fb1);
  border-radius: 18px;
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  padding: 20px;
  opacity: 80%;
  border: none;
}

.homepage-link-portfolio {
  color: var(--primary-color);
  font-size: 40px;
  font-family: var(--secondary-font-family);
}

@media (max-width: 600px) {
  body {
    background-size: cover;
    background-position: center;
  }

  h1 {
    font-size: 60px;
  }

  h2,
  p,
  .homepage-paragraph {
    font-size: 20px;
  }

  .homepage-head {
    line-height: 1.9;
  }

  .homepage-link-portfolio {
    font-size: 30px;
  }
}
